@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div, body, p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Фон */
#background {
  height: 100%;
  background: url("/assets/background/background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -100;
}

/* Слой, на котором расположены другие элементы */
.page {
  /* Структура страницы */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 8fr;
      grid-template-columns: 2fr 8fr;
  -ms-grid-rows: 4fr 1fr 20fr 2fr;
      grid-template-rows: 4fr 1fr 20fr 2fr;
  padding: 1% 5% 0 5%;
  /* Хэдер */
  /* Панель навигации */
  /* Панель с побочной информацией */
  /* Футер */
}

.page .header, .page .footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  border-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #b3cff2;
  padding: 2%;
  /* Логотип колхоза */
  /* Блоки адреса и контактов */
}

.page .header img, .page .footer img {
  height: 209px;
  width: 240px;
}

.page .header div, .page .footer div {
  /* Занимают всю высоту хэдера */
  height: 100%;
  /* 5 блоков по 20% каждый*/
  width: 20%;
  /* Контент центрирован */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
}

.page .header div address, .page .footer div address {
  font-style: normal;
}

.page .header div a, .page .footer div a {
  color: black;
  text-decoration: underline;
}

.page .header div a:hover, .page .footer div a:hover {
  text-decoration: none;
}

.page .nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  border-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2%;
  background-color: #05afdf;
  /* Убирает буллиты */
  list-style-type: none;
}

.page .nav a {
  color: white;
  text-decoration: underline;
}

.page .nav a:hover {
  text-decoration: none;
}

.page .side-bar {
  padding-top: 2vw;
  /* Блок продукции */
  /* Прогноз погоды */
  /* Заказать звонок */
}

.page .side-bar > * {
  margin-bottom: 10%;
  width: 100%;
}

.page .side-bar .production {
  /* Шапка блока */
  /* Список продукции */
}

.page .side-bar .production .our-prod {
  background-color: #82b501;
  border: 1px solid #82b501;
  border-radius: 1vw 1vw 0 0;
  /* Центрируется по вертикали */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* Большие отступы по бокам */
  padding: 5% 1% 5% 1%;
  color: white;
  /* Внутренний текст только из заглавных букв    */
}

.page .side-bar .production .our-prod span {
  text-transform: uppercase;
}

.page .side-bar .production .our-prod a:hover {
  text-decoration: none;
}

.page .side-bar .production .list-prod {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  height: 100%;
  background-color: white;
  border: 1px solid #82b501;
  border-radius: 0 0 1vw 1vw;
  padding-left: 10%;
  padding: 2%;
}

.page .side-bar .production .list-prod a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  color: black;
}

.page .side-bar .production .list-prod a:hover {
  text-decoration: none;
}

.page .side-bar img {
  /* Блочное отображение - убирает лишние отступы */
  display: block;
  cursor: pointer;
}

.page .side-bar .callback {
  /* Центрируется по вертикали */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* Большие отступы по бокам */
  padding: 5% 1% 5% 1%;
  color: white;
  /* Внутренний текст только из заглавных букв    */
  cursor: pointer;
  background-color: #009600;
  border-radius: 1vw;
}

.page .side-bar .callback span {
  text-transform: uppercase;
}

.page .side-bar .callback:hover {
  text-decoration: underline;
}

.page .main {
  padding: 2vw 0 2% 2%;
}

.page .main .content {
  height: 100%;
  background-color: white;
  border-radius: 1vw;
  border: solid #009600 1px;
  padding: 2%;
}

.page .main .content h1 {
  font-weight: normal;
  text-transform: uppercase;
  color: #009600;
}

.page .main .content .photos {
  border-top: solid #009600 4px;
  border-bottom: solid #009600 4px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.page .main .content i.fas {
  color: #edebeb;
  font-size: 3vw;
}

.page .main .content .poetry {
  color: #99cc00;
}

.page .footer {
  /* Те же стили, что у хэдера*/
  background-color: #b3cff2;
}
