body {
    background: url('/assets/images/freegreatpicture.com-5889-field-landscape.jpg') top center no-repeat; 
    background-size: cover; 
    background-attachment: fixed;;
} 

#contentContainer {
    background:#FFFFFF;
} 

#actionsCustomize .container {
    max-width:1200px;
} 

#containerHeader {
    max-width:1200px;
} 

#containerMiddle {
    max-width:1200px;
} 

#footer {
    max-width:1200px;
} 

#sideBarLeft {
    width:240px;
} 

#sideBarRight {
    width:240px;
} 

#navigation, #containerMiddle, #contentContainer, 
#price, #footer, .stuffCategory, .stuffItem, 
.stuffCategory a img, .stuffItem a img{
    border-radius:10px;
} 

table#header {
    display:block;
    border-radius:10px;
} 

div.bar {
    border-radius:10px
} 

div.barEmptyMiddle {
    border-radius:0 0 10px 10px
} 