* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div,
body,
p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#background {
  height: 100%;
  background: url("assets/background/background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -100;
}

#goTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  z-index: 100;
  background-color: rgba(124, 120, 120, 0.2);
  width: 36px;
  height: 33px;
}

#goTop:hover {
  background-color: #7c7878;
}

.page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px auto;
      grid-template-columns: 240px auto;
  -ms-grid-rows: auto 0.5fr auto 1fr;
      grid-template-rows: auto 0.5fr auto 1fr;
  padding: 1% 5% 0 5%;
}

.page .header, .page .footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  border-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #b3cff2;
  padding: 2%;
}

.page .header img, .page .footer img {
  max-height: 146px;
  max-width: 168px;
}

.page .header div, .page .footer div {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
}

.page .header div address, .page .footer div address {
  font-style: normal;
}

.page .header div a, .page .footer div a {
  color: black;
  text-decoration: underline;
}

.page .header div a:hover, .page .footer div a:hover {
  text-decoration: none;
}

.page .nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  border-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 1vw;
  background-color: #05afdf;
  list-style-type: none;
}

.page .nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.page .nav li a {
  color: white;
  text-decoration: underline;
}

.page .nav li a:hover {
  text-decoration: none;
}

.page .side-bar {
  padding-top: 2vw;
}

.page .side-bar > * {
  margin-bottom: 10%;
  width: 95%;
}

.page .side-bar .production .our-prod {
  background-color: #82b501;
  border: 1px solid #82b501;
  border-radius: 1vw 1vw 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5% 1% 5% 1%;
  color: white;
  text-decoration: underline;
}

.page .side-bar .production .our-prod span {
  text-transform: uppercase;
}

.page .side-bar .production .our-prod:hover {
  text-decoration: none;
}

.page .side-bar .production .list-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 230px;
  background-color: white;
  border: 1px solid #82b501;
  border-radius: 0 0 1vw 1vw;
  padding: 0 3% 3% 5%;
}

.page .side-bar .production .list-prod a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.5vw;
  text-decoration: underline;
  color: black;
}

.page .side-bar .production .list-prod a:hover {
  text-decoration: none;
}

.page .side-bar img {
  display: block;
  cursor: pointer;
}

.page .side-bar .callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5% 1% 5% 1%;
  color: white;
  cursor: pointer;
  background-color: #009600;
  border-radius: 1vw;
}

.page .side-bar .callback span {
  text-transform: uppercase;
}

.page .side-bar .callback:hover {
  text-decoration: underline;
}

.page .main {
  padding: 2vw 0 2vw 0;
}

.page .main .content {
  height: 100%;
  background-color: white;
  border-radius: 1vw;
  border: solid #009600 1px;
  padding: 2%;
}

.page .main .content h1,
.page .main .content h2 {
  font-weight: normal;
  text-transform: uppercase;
  color: #009600;
}

.page .main .content .photos {
  border-top: solid #009600 4px;
  border-bottom: solid #009600 4px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.page .main .content i.fas {
  color: #edebeb;
  font-size: 3vw;
}

.page .main .content .poetry {
  color: #99cc00;
}

.page .main .content .icon-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.page .main .content .icon-heading .icon {
  margin-right: 2%;
}

.page .main .content .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page .main .content .gallery-unit {
  max-width: 150px;
  font-size: 0.9em;
  padding: 0.7em;
  margin-right: 1em;
  border: 1px solid #dddddd;
  cursor: default;
  text-align: center;
}

.page .main .content .gallery-unit:hover {
  border: 1px solid #009600;
}

.page .main .content .gallery-unit img {
  max-width: 100%;
}

.page .footer {
  background-color: #b3cff2;
}

@media only screen and (max-width: 991px) {
  .page .header div:nth-child(2), .page .footer div:nth-child(2) {
    display: none;
  }
  .page .header img, .page .footer img {
    width: 192px;
    height: 167px;
  }
  .page .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .page .nav > li {
    border-radius: 1vw;
    padding: 1%;
  }
  .page .main .content .gallery-unit {
    padding: 0.5em;
    margin-right: 0.7em;
  }
  .page .footer div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page .footer div span {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 640px) {
  #goTop {
    height: 44px;
    width: 44px;
  }
  #background {
    width: 640px;
  }
  .page {
    padding: 1% 2% 0 2%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 210px auto auto auto auto;
        grid-template-rows: 210px auto auto auto auto;
  }
  .page .header, .page .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .page .header > div, .page .footer > div {
    display: none;
  }
  .page .nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .page .side-bar {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .page .side-bar img {
    display: none;
  }
  .page .side-bar .production,
  .page .side-bar .callback {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page .side-bar .production .list-prod a {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page .side-bar .callback {
    text-decoration: underline;
  }
  .page .side-bar .callback:hover {
    text-decoration: none;
  }
  .page .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .page .footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page .footer > div span {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 425px) {
  #goTop {
    height: 66px;
    width: 66px;
  }
  .page .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    font-size: 2em;
  }
  .page .main .content h1 {
    font-size: 3em;
  }
  .page .main .content h2 {
    font-size: 2.5em;
  }
  .page .main .content strong,
  .page .main .content p {
    text-align: left;
    font-size: 2em;
  }
  .page .main .content .gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page .main .content .gallery .gallery-unit {
    max-width: none;
    width: 100%;
  }
  .page .main .content .gallery .gallery-unit img {
    width: 200px;
  }
  .page .main .content .gallery .gallery-unit figcaption {
    font-size: 2em;
  }
  .page .side-bar {
    font-size: 2em;
  }
  .page .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    padding: 0;
  }
  .page .footer div {
    width: 100%;
  }
  .page .footer div span {
    font-size: 1.5em;
    text-align: center;
  }
}
