$background-url: "/assets/background/background.jpg";

@mixin flex-center-vertical {
    display: flex;
    align-items: center;
}

@mixin flex-center {
    @include flex-center-vertical();
    justify-content: center 
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div, body, p {
    box-sizing: border-box;
}

#background {
    height: 100%;
    background: url($background-url) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100;
}

.page {
    display: grid; 
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 4fr 1fr 20fr 6fr;
    padding: 1% 5% 0 5%;

    @mixin row {
        grid-column: 1 / span 2;
        border-radius: 1vw;

        @include flex-center-vertical();
        flex-direction: row;
        justify-content: space-around;
    }

    .header {
        @include row();

        background-color: #b3cff2;
        padding: 2%;

        img {
            height: 209px;
            width: 240px;
        }

        div {
            height: 100%;
            width: 20%;
            @include flex-center();
            font-size: 1.2em;

            address {
                font-style: normal;
            }

            a {
                color: black;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }

    .nav {
        @include row();
        padding: 2%;        
        background-color: #05afdf;
        list-style-type: none;

        a {
            color: white;
        }

        a:hover {
            text-decoration: none;
        }
    }

    .side-bar {
        
        &>* {
            margin-top: 10%;
        }

        .production {
            width: 90%;

            .our-prod {
                border-radius: 1vw 1vw 0 0;
                border: 1px solid #82b501;
                background-color: #82b501;
                padding: 2%;
            }

            .list-prod {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                height: 100%;
                background-color: white;
                border: 1px solid #82b501;
                border-radius: 0 0 1vw 1vw;
                padding-left: 10%;
                padding: 2%;

                a {
                    @include flex-center-vertical();
                    color: black;
                }

                a:hover {
                    text-decoration: none;
                }
            }
        }

        img {
            display: block;
            max-width: 90%;
            cursor: pointer;
        }

        .callback {
            @include flex-center-vertical();
            padding: 5% 1% 5% 1%;
            justify-content: space-evenly;
            width: 90%;
            border-radius: 1vw;
            background-color: #009600;
            cursor: pointer;

            color: white;
            
            span {
                text-transform: uppercase;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}