// Значения по умолчанию
$background-url: "/assets/background/background.jpg";
$nav-count: 8;

// Миксин: центрирование по вертикали
@mixin flex-center-vertical {
    display: flex;
    align-items: center;
}

// Миксин: центрирование по вертикали и горизонтали
@mixin flex-center {
    @include flex-center-vertical();
    justify-content: center 
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div, body, p {
    box-sizing: border-box;
}

// Фон 
#background {
    height: 100%;
    background: url($background-url) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100;
}

// Слой, на котором расположены другие элементы 
.page {
    // Структура страницы 
    display: grid; 
    grid-template-columns: 240px auto;
    grid-template-rows: 3fr 1fr auto 1.5fr;
    padding: 1% 5% 0 5%;

    // Миксин: строка по всей ширине грида
    @mixin row {
        grid-column: 1 / span 2;
        border-radius: 1vw;

        @include flex-center-vertical();
        flex-direction: row;
        justify-content: space-around;
    }

    // Хэдер 
    .header {
        @include row();

        background-color: #b3cff2;
        padding: 2%;

        // Логотип колхоза 
        img {
            max-height: 100%;
            max-width: 100%;
        }

        // Блоки адреса и контактов 
        div {
            // Занимают всю высоту хэдера 
            height: 100%;
            // 5 блоков по 20% каждый
            width: 20%;
            // Контент центрирован 
            @include flex-center();
            font-size: 1.2em;

            address {
                font-style: normal;
            }

            a {
                color: black;
                text-decoration: underline;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }

    // Панель навигации 
    .nav {
        @include row();

        border-radius: 1vw;     
        background-color: #05afdf;
        // Убирает буллиты 
        list-style-type: none;

        li {
            @include flex-center();
            text-align: center;
        
            a {
                color: white;
                text-decoration: underline;
            }

            a:hover {
                text-decoration: none;
            }

        }
    }

    // Панель с побочной информацией 
    .side-bar {
        padding-top: 2vw;
        
        &>* {
            margin-bottom: 10%;
            width: 95%;
        }

        // Миксин: иконка с текстом
        @mixin bar-plus-text {
            // Центрируется по вертикали 
            @include flex-center-vertical();
            justify-content: space-evenly;
            // Большие отступы по бокам 
            padding: 5% 1% 5% 1%;

            color: white;
            
            // Внутренний текст только из заглавных букв 
            span {
                text-transform: uppercase;
            }
        }

        // Блок продукции 
        .production {

            // Шапка блока 
            .our-prod {
                background-color: #82b501;
                border: 1px solid #82b501;
                border-radius: 1vw 1vw 0 0;

                @include bar-plus-text();
                text-decoration: underline;
                
                &:hover {
                    text-decoration: none ;
                }
            }

            // Список продукции 
            .list-prod {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
                height: 230px;
                background-color: white;
                border: 1px solid #82b501;
                border-radius: 0 0 1vw 1vw;
                padding: 0 3% 3% 5%;

                a {
                    @include flex-center-vertical();
                    min-height: 3.5vw;
                    text-decoration: underline;
                    color: black;
                }

                a:hover {
                    text-decoration: none;
                }
            }
        }

        // Прогноз погоды 
        img {
            // Блочное отображение - убирает лишние отступы 
            display: block;
            cursor: pointer;
        }

        // Заказать звонок 
        .callback {
            @include bar-plus-text();

            cursor: pointer;

            background-color: #009600;
            border-radius: 1vw;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // Слой с основной информацией о колхозе 
    .main {
        padding: 2vw 0 2vw 0;

        // Основная информация 
        .content {
            height: 100%;
            background-color: white;
            border-radius: 1vw;
            border: solid #009600 1px;
            padding: 2%;

            // Заголовок 
            h1 {
                font-weight: normal;
                text-transform: uppercase;
                color: #009600;
            }

            // Карусель с фотографиями 
            .photos {
                border-top: solid #009600 4px;
                border-bottom: solid #009600 4px;
                margin-top: 2%;
                margin-bottom: 2%;
            }

            // Значки "предыдущая" и "следующая" в карусели 
            i.fas {
                color: #edebeb;
                font-size: 3vw;
            }

            // Стих 
            .poetry {
                color: #99cc00;
            }
        }
    }

    // Футер 
    .footer {
        // Те же стили, что у хэдера
        @extend .header;
        background-color: #b3cff2;
    }
}

// Медиазапрос: экраны до 992px
@media only screen and (max-width: 992px) {
    .page {
        // Хэдер
        .header{
            // Исчезает адрес
            div:nth-child(2) {
                display: none;
            }

            // Уменьшается логотип
            img {
                width: 192px;
                height: 167px;
            }
        }

        // Панель навигации
        .nav {
            display: grid;
            grid-template-columns: repeat($nav-count / 2, 1fr);
            grid-template-rows: auto auto;

            // Вокруг элементов навигации возникают границы
            &>li {
                border-radius: 1vw;
                padding: 1%;
            }
        }

        // Футер
        .footer {
            // Второй элемент не исчезает
            div:nth-child(2) {
                display: flex;
            }

            // Текст изменяется в зависимости от ширины экрана
            div {
                span {
                    font-size: 2vw;
                }
            }
        }
    }
}

// Медиазапрос: экраны до 640px
@media only screen and (max-width: 640px) {
    #background {
        // Бэк не становится меньше величины экрана
        width: 640px;

        .page {
            padding: 1% 2% 0 2%;

            // Теперь колонка только одна
            grid-template-columns: 1fr;
            // Хэдер с лого зависит от ширины экрана, остальные рассчитываются автоматически
            grid-template-rows: 210px auto auto auto auto;

            // Хэдер
            .header {
                grid-column: 1/2;

                // Всё, кроме лого, пропадает
                &>div {
                    display: none;
                }
            }

            // Панель навигации
            .nav {
                grid-column: 1/2;
                justify-content: space-evenly;
            }

            // Панель с побочной информацией 
            .side-bar {
                grid-row: 4 / 5;
                
                // Все картинки пропадают
                img {
                    display: none;
                }

                // Блоки продукции и звонка занимают всю ширину контейнера, их содержимое центрируется
                .production, .callback {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 2%;
                    justify-content: center;
                }

                // Ссылки в списке продуктов центрируются
                .production {
                    .list-prod {
                        a {
                            text-align: center;
                            justify-content: center;
                        }
                    } 
                }

                // Ссылка в блоке звонка приводится к виду ссылки в our-prod
                .callback {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            // Футер
            .footer {
                grid-column: 1/2;
                
                // Блоки не пропадают
                &>div {
                    display: flex;
                    
                    span {
                        font-size: 2.5vw;
                    }
                }
            }
        }
    }
}